<form  [formGroup]="loginForm" (ngSubmit)="handleLogin()" class="w-25">
    <h4>Login</h4>

    <div class="form-group" >
        <label class="label"  for="Username">User Name</label>
        <input class="form-control"  aria-label="name" type="text" formControlName="Username" required>
        <div *ngIf=" Username?.touched && Username?.invalid" style="color:red ;">Error Div</div>

    </div>
    <div class="form-group">
        <label class="label" for="Password">Password </label>
        <input class="form-control" aria-label="password"  type="password" id="passInput" formControlName="Password" required>
        <div *ngIf="Password?.touched && Password?.invalid" style="color:red ;">Error Div</div>
    </div> 
    <div class="text-center">
        <button type="submit" class="btn btn-outline-primary btn-sm mt-2 mb-2">Login</button>
    </div>

</form>
