
<popup-modal-app 
[display]="showPopup"  
[viewPopup]="viewPopup"
[transactionPopup]="transactionPopup"
[salePopup]="salePopup"
[editPopup]="editPopup"
[addItemPopup]="addItemPopup"
[view]="view"
[popUpData]="popUpData"
(closePop)="closePopup()"
(doDispatch)="handleDispatch($event)"
(doUpdate)="handleUpdate($event)"></popup-modal-app>


<a class="btn btn-sm btn-primary mb-2 gridBtn" data-action-type='addItem'
(click)="handleGridAction({eventType:'addItem'})"
>Add Items</a>

<div *ngIf="addItemPopup" id="addItemPopup">
    <form  [formGroup]="addItemForm" (ngSubmit)="handleAddItem()" class="form d-flex">
        <div class="form-group">
            <label class="form-label">Item Name<sup class="required">*</sup>: </label>
            <input title="itemname" label="itemName" type="text" name="itemName" required class="form-control" formControlName="itemName"/>
            <div *ngIf="itemName && itemName.invalid && itemName.touched"  >
              <span *ngIf="itemName.errors?.['required']" class="errorMsg"  >Name is required.</span>
            </div>
        </div>
        <div class="form-group ">
            <label class="form-label">Item Price<sup>*</sup>: </label>
            <input title="itemPrice" label="itemPrice" type="number" name="itemPrice" required class="form-control" min="1" formControlName="itemPrice" />
            <div *ngIf="itemPrice && itemPrice.invalid && itemPrice.touched"  >
                <span *ngIf="itemPrice.errors?.['min']" >Price can not be negative.</span>
              <span *ngIf="itemPrice.errors?.['required']" class="errorMsg" >Price is required.</span>
              </div> 
            
        </div>
        <div class="form-group ">
            <label class="form-label">Item Quantity<sup>*</sup> : </label>
            <input type="number" title="itemQuantity" name="itemQuantity" min="1" required class="form-control" formControlName="quantity"/>
            <div *ngIf="quantity && quantity.invalid && quantity.touched"  >
                <span *ngIf="quantity.errors?.['min']"  >Quantity can not be negative.</span>
              <span *ngIf="quantity.errors?.['required']" class="errorMsg">Quantity is required.</span>
              </div>
            </div>
        
        <div class="form-group w-25">
            <label class="form-label">Description<sup>*</sup> : </label>
            <input type="text" title="itemDescription" label="itemDescription" name="itemDescription" required class="form-control" formControlName="itemDetails"/>
            <div *ngIf="itemDetails && itemDetails.invalid && itemDetails.touched"  >
                <span *ngIf="itemDetails.errors?.['required']" class="errorMsg" >Description is required.</span>
            </div>
            
        </div>

        <div class="form-group addItemBtn m-1 p-1">
           <button type="submit" [disabled]="addItemForm.invalid"  class="btn btn-primary btn-sm btnAddItem">Add </button> 
           <button type="button" (click)="closePopup()" class="btn btn-danger btn-sm btnAddItem">Cancel</button>   
        </div> 

    </form>
</div>

<ag-grid-angular 
class='ag-theme-alpine'
id="mainGridDash "
[rowData]="rowData"
[columnDefs]="colDefs"
[defaultColDef]="defaultColDef"
[animateRows]="true"
[context]="context"
domLayout="autoHeight"
[pagination]="true"
[paginationPageSize]="6"
[enableCellChangeFlash]="true"
(gridReady)="onGridReady($event)"
>
</ag-grid-angular>


